.App {
  text-align: center;
}

path {
  fill: none;
  stroke: #000;
}

.content-container {
  display: table;
  width: 100%;
  margin-top: 1.7%;
}

#leaderboard {
  display: table-cell;
  vertical-align: top;
}

#below-svg {
  padding-left: 2%;
  padding-right: 2%;
}

#svg-container {
  width: 100%;
  margin: 0 auto;
}

.hb-container {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    transform: rotate(-45deg) translate(-6px, 7px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    transform: rotate(45deg) translate(-6px, -7px) ;
}

.lb-border {
  border-left: 1px solid rgb(174, 176, 182);
}

.leader-content p {
  text-align: left;
  margin-bottom: 10px;
}

.leader-content {
  margin: 0 auto;
  display: inline-block;
  float: none;
}

.leader-content-container {
  width: 100%;
  text-align: center;
}

.podium-container {
  width: 100%;
  text-align: center;
}

.podium {
  margin: 0 auto;
  display: table;
  float: none;
}

.podium p {
  text-align: left;
  margin-bottom: 10px;
}

h3 {
  text-align: center;
}

svg {
  display: table-cell;
}

p {
  margin: 0 auto;
  text-align: center;
}

body {
  background-color: #f6f7f9;
  width: 100%;
  max-width: 100%;
}

html {
  width: 100%;
}

.btn {
  border-radius: 10px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border-style: none;
  margin: 0 auto;
}

#start-buy-sell-container {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 10px;
}

#start-btn {
  background: rgb(30, 149, 15);
}
#buy-btn {
  margin-right: 20px;
}
#sell-btn {
  margin-left: 20px;
}

#intro {
  text-align: center;
  margin: 0 auto;
}

.landing {
  width: 60%;
  margin: 0 auto;
  margin-top: 40px;
  max-width: 800px;
  border: 1px solid rgb(174, 176, 182);
  background-color: rgb(205, 206, 210);
  border-radius: 5px;
  padding: 15px 30px 15px 30px;
}

.btn:focus{
  outline: none;
  border: 1px solid black;
  padding: 9px 19px 9px 19px;
}

.btn-active {
  cursor: pointer;
}

.btn-active:hover {
  background: #3cb0fd;
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
}

.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-bottom: 20px;
    max-width: 400px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(30, 149, 15);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(30, 149, 15);
    cursor: pointer;
}
